html , body{
    /* background: url(https://s-media-cache-ak0.pinimg.com/originals/69/98/fd/6998fd867b0eaed370b95607cb8be8a6.jpg) no-repeat center center fixed; */
    height:100%;
    width:100%;
    margin:0;
}
.container{
    margin-bottom: 50px;
    min-height: 100%;
}
.container1{
    margin-bottom: 50px;

}
.navbar-header{
    background-color:  rgb(37, 140, 209);
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 118px;
    text-align:center;
    font-size:  60px;
    height: 118px;
    width: 100%;
}

 #link{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 50px;
    
    font-size:32px;
} 
#link1{
    vertical-align: middle;
    position: relative;
    top:0;
    left:30px;
    float:left;
}
h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    width: 208px;
    color: rgb(37, 140, 209);
    text-align: left;
    margin: 10px 10px 10px 30px;

}
.float-left{
    width: 150%;
    margin: 0 50px;
}
.info{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;
    color: rgb(143,144,146);
    text-align: justify;
    padding: 10px;
    float: left;
}
hr{
    display:block;
    margin: 0.5em 20px 0.5em 30px;
    border-style: inset;
    border-width: 1px;
}
.pull-left{
    margin:30px;
}
.panel-footer{
    text-align:center;
    height: 120px;
    width: 120%;
    font-family: 'Arial';
    color: rgb(154,163,164);
    line-height:120px;
    font-size:10px;
    margin-top: -50px;
    background-color: rgb(102,102,102);
    border: 10px;
    border-top-style: solid;
    border-top-color: rgb(15, 163, 138);
}
#img4{
    width: 90%;
    margin: 5%;
}
#game {
    font-family: 'Georgia';
    font-size: 500%;
    color: whitesmoke;
    text-align: center;
    line-height: 90px;
    height: 90px;
    width: 90%;
    background-color: rgb(15, 163, 138);
    position: relative;
    bottom: 150px;
    left: 30px;
}

.img-circle{
    background-color: rgb(142, 137, 212);
    border: solid black;
    border-radius: 15%;
}
#initial{
    padding:20px;
}
.Description{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.col-xs-6{
    text-align: center;
}
.page-footer{
    background-color: rgba(233, 232, 232, 0.925);
}

