@media screen and (min-width:350px){

    body{
        background-image: url("../images/Mountain.jpg");
        display:grid;
    }
    h1,h3,p,img,br,i,.fa{
        margin:auto;
        padding:10px;
        border:10px;
    }
    .myName,.career,.profileImg{
        text-align: center
    }
    .myName,.career{
        font-family: 'Courier New', Courier, monospace
    }
    .aboutMe{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color:rgb(255, 255, 255);

    }
    .myProfilePic{
        max-width: 75%;
        border-radius:199px;
    }
    hr{
        border-bottom:solid;
        border-top:none;border-right: none;border-left:none;
        height:2px;
        color:rgb(90, 234, 253);
    }
    .topFillContainer{
        height: 60px;
    }
    .headerContainer{
        background-color: rgb(255, 255, 255);
        max-width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        padding:5px;
        border-radius: 8px;
        position: sticky;
        /* z-index: inherit; */
        top: 0;
        /* -webkit-filter: blur(0.1px); */
        /* left:4px; */
        margin:auto
    }
    .fa{
        max-width:100%;
        font-size: 30px;
        color:rgb(44, 131, 202);
    }
    .homeBtn, .projectsBtn,.contactBtn{
        margin: auto;
        padding:0;
    }
    .home,.projects,.contact{
        background-color: transparent;
        border:none;
    }
    .home:hover,.projects:hover,.contact:hover{
        background-color: rgb(117, 255, 117);
    }
}
/* .navbar-header{
    background-color:  rgb(37, 140, 209);
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 118px;
    text-align:center;
    font-size:  60px;
    height: 118px;
    max-width: 100%;
}
.intro{
    height: 150px;
}

 #link{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 50px;
    
    font-size:32px;
} 
#link1{
    vertical-align: middle;
    position: relative;
    top:0;
    left:30px;
    float:left;
}
h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    width: 208px;
    color: rgb(37, 140, 209);
    text-align: left;
    margin: 10px 10px 10px 30px;

}
.float-left{
    width: 150%;
    margin: 0 50px;
}
.info{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;
    color: rgb(143,144,146);
    text-align: justify;
    padding: 10px;
    float: left;
}
hr{
    display:block;
    margin: 0.5em 20px 0.5em 30px;
    border-style: inset;
    border-width: 1px;
}
.pull-left{
    margin:30px;
}
.panel-footer{
    text-align:center;
    height: 120px;
    width: 120%;
    font-family: 'Arial';
    color: rgb(154,163,164);
    line-height:120px;
    font-size:10px;
    margin-top: -50px;
    background-color: rgb(102,102,102);
    border: 10px;
    border-top-style: solid;
    border-top-color: rgb(15, 163, 138);
}
#img4{
    width: 70%;
}
h4{

    font-size: 300%;
    color: whitesmoke;
    background-color: rgb(15, 163, 138);
    width: 70%;

    position: relative;
    left: 52px;
    bottom: 100px;
}

.img-circle{
    background-color: rgb(142, 137, 212);
    border: solid #337ab7;;
    border-radius: 15%;
}
#initial{
    padding:20px;
}
.Description{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
.col-xs-6, .col-xs-12{
    text-align: center;
}
.page-footer{
    background-color: rgba(233, 232, 232, 0.925);
}
 */
